html, body {
    margin: 0;
    height: 100%;
}
.main-div{
display:flex;
text-align: center;
 background-color:white;}
body{
background-image:url("https://media.istockphoto.com/photos/vinyl-music-records-background-picture-id519280829?b=1&k=20&m=519280829&s=170667a&w=0&h=XNuw7ELGxSQCYT4xUOEFgR28-7t7jlk22dGy3uUUdOI=");
background-repeat:no-repeat;
 background-size: cover;
 display:flex;
 justify-content:center;
align-items: center;
}
h1,p{
color :white;
font-size: 20px;
}
h1{
font-size: 30px;
}
.describtion{
 background-color: black;
}
form{
padding:15px;
}
.words{
width:100%;
margin:0;
}
.message{
color:black;
}