<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/index.css}" rel="stylesheet">

</head>
<body>
<div class="main-div">
<div>

    <section class="describtion">
        <h1> ALL ALBUMS IN THE WORD!</h1>
        <p>IF U WANT SPECIFIC ALBUM , JUST ENTER THE TITLE AND THE ARTIST Of THE ALBUM</p>
    </section>

    <div>
<section>
    <form action="/addSongToAlbum" method="POST">
        <input type="number" id="album_id" name="album_id" placeholder="album_id">
        <input type="text" id="song_title" name="song_title" placeholder="song_title">
        <input type="text" id="song_length" name="song_length"  placeholder="song_length">
        <input type="number" id="song_trackNumber" name="song_trackNumber"  placeholder="song_trackNumber">
        <input type="submit" value="add Song to album" >
    </form>
</section>
<section>
    <p class="message" th:text="${message}"></p>
</section>
        <section>
            <a href="/albums">albums</a>
            <a href="/songs">songs</a>
        </section>
        </div>
</div>
</div>
</body>
</html>