<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/index.css}" rel="stylesheet">

</head>
<body>
<div class="main-div">

<div>
<section class="describtion">
    <h1> DON'T MISS A RECIPE!</h1>
    <p>SIGN UP To Have NEW RECIPES DELIVERED STRAIGHT TO YOUR INBOX (FOR fREE)!</p>
</section>
</div>
    <div>
<section>
    <form action="#">
        <input type="text" id="fname" name="fname" placeholder="firstname">
        <input type="text" id="lname" name="lname"  placeholder="lastname">
        <input type="submit" value="sign up" >
    </form>
</section>
        </div>
</div>
</body>
</html>