<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/index.css}" rel="stylesheet">

</head>
<body>
<div class="main-div">

<div>
<section class="describtion">
    <h1> ALL ALBUMS IN THE WORD!</h1>
    <p>IF U WANT SPECIFIC ALBUM , JUST ENTER THE TITLE AND THE ARTIST Of THE ALBUM</p>
</section>
</div>
    <div>
<section>
    <form action="/getSpecificAlbum" method="POST">
        <input type="text" id="title" name="title" placeholder="title">
        <input type="text" id="artist" name="artist"  placeholder="artist">
        <input type="submit" value="get album" >
    </form>
</section>
        </div>
</div>
</body>
</html>